*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #1F2937;
}

img{
    width: 200px;
    height: auto;
}
.navbar{
    display: flex;
    margin-bottom: 5rem;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5rem;
    list-style-type: none;
    gap: 16px;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.nav-left, .nav-right{
    flex: 1;
    margin: 1rem;
    color: white;
}
.nav-right{
    flex: 1.2;
    font-size: 15px;
    color: #c3c3c3;
}
