*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #1F2937;
}

img{
    width: 300px;
    height: auto;
}
.navbar{
    display: flex;
    margin-bottom: 5rem;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right:10rem;
    list-style-type: none;
    gap: 16px;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.nav-left, .nav-right{
    flex: 1;
    margin: 1rem;
    color: white;
}
.nav-right{
    flex: 1.2;
    font-size: 15px;
    color: #c3c3c3;
}

.sub-header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 5rem;
    padding: 5rem;
}
.left-panel{
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
    gap: 8px;
    flex-shrink: 0;
}
.left-panel button{
    align-self: flex-start;
    flex-grow: 0;
    padding: 8px 16px;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border: none;
}
.right-panel{
    display: flex;
    justify-content: center;
    flex: 1;
}
.right-panel img{
    width: 400px;
    height: auto;
}

.office-info{
  text-align: center;
  margin-bottom: 5rem;
}
.office-info h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.offices{
    margin-top: 5rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.offices img{
    height: auto;
    width: 300px;
    border-radius: 1rem;
    border: #3882F6 solid;
}

.quote{
    background-color: #e5e7eb;
    padding: 5rem;
    text-align: center;
    margin-bottom: 1rem
}
.quote p{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    width: 50%;
    margin: auto;
}

section{
    color: rgb(51, 51, 51);
    font-weight: bold;
    margin-top: 1rem;
}

.callToAction{
    width: 50%;
    margin: auto;
}
.content{
    text-align: center;
    background-color: #3882F6;
    padding: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}
.left-signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}
.right-signup{
    flex: .5;
}
.right-signup button{
    background: transparent;
    padding: .5rem 2rem .5rem 2rem;
    color: white;
    border: solid white;
    border-radius: .5rem;
}

footer{
    text-align: center;
    background-color: #1F2937;
    color: white;
    padding: 2rem;
}